body{
    background-image: url("images/background3.png");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    height: 550px;
    margin: auto;
    color: white;
}
 
.startConatiner{
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 550px;
}
.winHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    text-align: center;
    /* border: 5px solid black; */
    width: 600px;
    height: 60px
}

.lossHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    text-align: center;
    width: 600px;
    height: 60px;
}
.lossContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}
#tryAgain{
    margin: 20px;
    width:100px;
    height:25px;  
}
#playAgain{
    margin: 20px;
    width:100px;
    height:25px;
}

#lars{
    width: 200px;
    margin: 15px;
}
.winMiddle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    /* border: 5px solid black */
}
.loss{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    height: 550px;
}
.win{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    height: 550px;
}
.startButton{
    display: flex;
    justify-content: center;
    
}

#start{
    margin: 20px;
    width:100px;
    height:25px;
}

.startHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    text-align: center;
    border: 5px solid white;
    width: 600px;
    height: 60px
    
}

.gameRules{
    margin: auto;
    width: 650px;
    border: 5px solid white
}
#rulesHeader{
    text-align: center;
}

.level{     
    width: 960px;
    height: 550px;
    position: relative;
}
#levelHeader{
    text-align: center;
}

.discription{
    text-align: center;
}

.playBeat{
    height: 25px;
    width: 150px;
    margin: 0px 58% 20px 42%;
}
#playBack{
    height: 25px;
    width: 150px;
}

.bottomButtons{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    flex-direction: row-reverse;
}

.gridContainer{
    outline: 5px solid white;
    width: 665px;
}
.eachline{
    display: flex;
    justify-content: space-around;
}
.name{
    display: flex;
    height: 25px;
    width: 50px;
    align-items: center;
    justify-content: center;

}   
.hiHat{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bass{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.snare{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.ride{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.gridBox{   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    margin: 5px;
}
.fill{
    background-color: yellowgreen;
    opacity: 90%;
}
.hidden{
    display: none;
}

.bdpic{
    width: 225px;
    position: absolute;
    margin: 205px 10px 0px 700px;
}